@model Blog_Site.Models.Post

@{
    ViewBag.Title = "PostDetails";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 style="margin:0px;">@Html.DisplayFor(model => model.PostTitle)</h3>
        </div>
        <div class="panel-body">
            <p class="p-inline">Posted by <span style="color: #0d6efd">@Html.DisplayFor(model => model.User.UserName)</span></p>
            <p class="p-inline"> on <i style="color: #000000">@Html.DisplayFor(model => model.PostDateTime)</i></p>
            <p class="panel-title" style="padding-top:5px;"> @Html.DisplayFor(model => model.PostTopic)</p>
            <p class="panel-title" style="padding-top:5px;"> @Html.DisplayFor(model => model.PostDetails)</p>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "EditPost", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
